@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* Geral */

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html{
    font-size: 10px;
    font-family: 'Poppins' , 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img {
    height: 200%;
    width: 100%;
    object-fit: cover;
}
p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}
ul{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: purple;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 00.2rem;
    text-align: center;
}

/* Sesão de apresentação */

#presentation{
    background: linear-gradient(-45deg, black,purple, black);;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#presentation h1:nth-child(1) span{
    animation-delay: .8s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}
#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: plum;
    background-color: transparent;
    border:2px solid plum;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
}
#presentation .cta:hover{
    color: greenyellow;
    font-weight: 500;
    background-color: greenyellow;
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: plum;
}
#presentation h1:nth-child(1) span{
    animation-delay: .8s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.8s;
}
#presentation::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

/* Seção de sabermais*/

#sabermais .sabermais{
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}
#sabermais .sabermais-header h1{
    margin-bottom: 100px;
}
#sabermais .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#sabermais .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#sabermais .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, purple 0%, green 100%);
    color: white;
}
#sabermais .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}
#sabermais .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#sabermais .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#sabermais .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, purple 0%, green 100%);
    opacity: 0.3;
}
#sabermais .project-img img{
    transition: 0.5s ease transform;
}
#sabermais .project-item:hover .project-img img{
    transform: scale(1.1);
}

/* Seção de Keyframes*/ 

@keyframes text_reveal{
    100%{
        color: greenyellow;
    }
}
@keyframes text_reveal_name{
    100%{
        color: plum;
        font-weight: 500px;
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

/* Seção de Media Query */

@media only screen and (min-width: 768px) {
    #sabermais .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #sabermais .all-projects .project-info{
        height: 100%
    }
    #sabermais .all-projects .project-img{
        height: 100%
    }
    #sabermais .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}